
img {
    width: 100%;
}

.func div {
    display: inline-block;
    margin-left: 30px;
}

span {
    display: block;
    text-indent: 2em;
    line-height: 30px;
    font-size: 10px;
/ / color: #c4c4c4;
}

span1 {
    display: block;
    text-indent: 2em;
    line-height: 30px;
    font-size: 10px;
/ / color: #c4c4c4;
    text-align: left;
/ / padding-left: 13 %;
}

h {
    display: block;
    line-height: 50px;
    font-size: 20px;
    color: darkgray;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
}

.introduce {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 100px;
}

.America-map {
    width: 98%;
    margin-top: 30px;
}

.border {
    border-bottom: 2px solid #eee8d5;
}

ul li span, ul li span1 {
    display: inline;
    list-style: disc;

}

ul li {
    list-style: none;
    border-bottom: 1px solid #9fdff9;
/ / height: 230 px;
}

ul li span {
    font-size: 14px;
    margin-top: 20px;
    font-family: 楷体;
    font-weight: bold;
    color: #736363;
}

ul li span1 {
    font-size: 15px;
    font-family: 楷体;
    line-height: 70px;
    color: #422c2c;
    margin-left: 40px;
}

ul li span2 {
    font-size: 14px;
    font-family: 楷体;
    line-height: 70px;
    color: #422c2c;
    margin-left: 65px;
}

ul li span1:before {
    content: "• ";
    font-size: 24px;
    color: #6a9ff9;
    margin-top: 0px;
    margin-left: -43px;
    position: absolute;
}

ul li span2:before {
    content: "• ";
    font-size: 24px;
    color: #6a9ff9;
    margin-top: 0px;
    margin-left: -14px;
    position: absolute;
}

.details {
    padding-left: 40px
}

.arrow_box {
    display: inline-block;
    background-color: #8fd9f7;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    position: relative;
    border: 1px solid #c2e1f5;
    width: 105px;
    height: 51px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-top: 71px;
    float: left;
}

.arrow_box:before,
.arrow_box:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
    pointer-events: none;
    content: "";
    border-color: rgba(136, 183, 213, 0);
}

.arrow_box.left:before {
    border-left-color: #8fd9f7;
    border-width: 13px;
    top: 38%;
    left: 100%;
}

.arrow_box.left:after {
    border-left-color: #fff;
    border-width: 10px;
    top: 41%;
    left: 100%;
    border: 1px solid #c2e1f5;
}

.bottom-menu {
/ / background-color: #5ba1bd;
    border-radius: 20px;
    width: 99%;
    padding: 20px;
}

.zhuce_text {
    padding-left: 10%;
    padding-right: 10%;

}

.zhuce_text span1 {
    margin-top: 40px;
/ / padding-left: 50 px;
}

.text_content span1 {
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.zhuce_text span2 {
    color: #53b8d6;
}

.pub_title {
    margin: 100px 0 50px 0;
}

.pub_titleCont {
    display: block;
    width: 183px;
    float: none;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    top: 0px;
    background-color: #FFFFFF;
    border-top: 2px solid #22BEFF;
    border-left: 2px solid #22BEFF;
    border-right: 2px solid #22BEFF;
}

.pub_titleCont h3 {
    color: #444;
    font-size: 13px;
}

.pub_titleCont p {
    font-size: 10px;
    color: #666666;
    margin-top: 5px;
    font-style: italic;
    display: block;
    position: relative;
}

.pub_titleCont p:before, .pub_titleCont p:after {
    content: '';
    position: absolute;
    top: 100%;
    background: #22BEFF;
    width: 9%;
    height: 2px;
}

.pub_titleCont p:before {
    left: -0.7%; /*调整背景横线的左右距离*/
}

.pub_titleCont p:after {
    right: -1%;
}

.nevada:after {
    content: '';
    background: url('../images/nevada.jpg') no-repeat top left /100px 100px; /*兼容没测*/
    position: absolute;
    top: -21px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.california:after {
    content: '';
    background: url('../images/california.jpg') no-repeat top left /100px 100px; /*兼容没测*/
    position: absolute;
    top: -21px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.Delaware:after {
    content: '';
    background: url('../images/Delaware.jpg') no-repeat top left /100px 100px; /*兼容没测*/
    position: absolute;
    top: -21px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.America-data:after {
    content: '';
    background: url('../images/America-data.jpg') no-repeat top left /100px 100px; /*兼容没测*/
    position: absolute;
    top: -30px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.America-adv:after {
    content: '';
    background: url('../images/America-adv.jpg') no-repeat top left /100px 100px; /*兼容没测*/
    position: absolute;
    top: -21px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.America-time:after {
    content: '';
    background: url('../images/America-time.gif') no-repeat top left /100px 100px; /*兼容没测*/
    position: absolute;
    top: -21px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.bottom-menu ul li {
    padding: 20px;
}


.bottom-menu ul li div:first-child{
    background-color: #41b8d9;
    border-radius: 20px;
    width: 100%;
    display: inline-block;
}

.bottom-menu ul li div:first-child p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}