td {
    width: 450px;
}

table thead tr td {
    width: 450px;
    text-align: center;
    font-weight: bolder;
}

td:first-child {
    width: 94px;
    text-align: center;
}

table {
    padding: 20px;
}

.worktime {
    background-color: #80808038;
    text-align: center;
}

.data{
    background-color: #0080002e;
}

.country{
    background-color: #1d7ad95c;
}

.special{
    background-color: #ffff0026;
}

p{
    text-indent: 2em
}

.top_title {
    border: 0 none;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #8f9ea6;
    margin: 0;
    padding: 10px 0 5px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}