._img {
    width: 100%;
    height: auto;
}

.content {
    margin-top: 17px;
    border-top: 2px solid #eee8d5;
    padding: 70px;
}

.idx-model-title {
    border-left: 3px solid #ff8040;
    padding: 0 0 0 8px;
    font-size: 15px;
    color: #333;
    height: 16px;
    line-height: 16px;
    margin: 0 0 8px;
    font-weight: bold;
}

p {
    font-size: 13px;
    color: #6b4aee;
    line-height: 30px;
}

p1 {
    font-size: 12px;
    color: #fb95a7;
    line-height: 15px;
    font-style: italic;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h {
    font-family: 宋体;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.text-content {
    margin-top: 100px;
    text-align: center;
}

h1 {
    color: darkgrey;
    font-size: 20px;
    line-height: 30px;
}

h2 {
    font-family: 宋体;
    font-size: 35px;
    font-weight: bold;
    color: #615151;
}

h3 {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    line-height: 40px;
    font-size: 20px;
}