.selfContent td {
    width: 450px;
}

.selfContent table thead tr td {
    width: 450px;
    text-align: center;
    font-weight: bolder;
}

.selfContent td:first-child {
    width: 94px;
    text-align: center;
}

.selfContent table {
    padding: 20px;
}

.selfContent .worktime {
    background-color: #80808038;
    text-align: center;
}

.selfContent .data {
    background-color: #0080002e;
}

.selfContent .country {
    background-color: #1d7ad95c;
}

.selfContent .special {
    background-color: #ffff0026;
}

.selfContent p {
    text-indent: 2em
}

.selfContent .top_title {
    border: 0 none;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #8f9ea6;
    margin: 0;
    padding: 10px 0 5px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selfContent .pub_title {
    margin: 100px 0 50px 0;
}

.selfContent .pub_titleCont {
    display: block;
    width: 250px;
    float: none;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    top: 0px;
    background-color: #FFFFFF;
    border-top: 2px solid #22BEFF;
    border-left: 2px solid #22BEFF;
    border-right: 2px solid #22BEFF;
}

.selfContent .pub_titleCont h3 {
    font-size: 20px;
    color: #444;
}

.selfContent .pub_titleCont p {
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
    font-style: italic;
    display: block; /*设置为块级元素会独占一行形成上下居中的效果*/
    position: relative;
}

.selfContent .pub_titleCont p:before, .selfContent .pub_titleCont p:after {
    content: '';
    position: absolute;
    top: 100%;
    background: #22BEFF;
    width: 9%;
    height: 2px;
}

.selfContent .pub_titleCont p:before {
    left: -0.7%; /*调整背景横线的左右距离*/
}

.selfContent .pub_titleCont p:after {
    right: -1%;
}

.selfContent span {
    display: block;
    text-indent: 2em;
    line-height: 25px;
    font-size: 14px;
    color: #666;
}

.selfContent div span:first-child{
    padding-top: 0px;
}

.selfContent .text_content, .selfContent .pic_content {
    padding: 10%;
    padding-top: 0%;
    margin-top: -5%;
}

.selfContent .pic_content img {
    height: auto;
    width: 100%;
}

.selfContent .ul_pic_content img {
    width: 34%;
    height: 33px;
    margin-top: -36px;
}
