[class^="col-"]:not(.pad-no) {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.panel {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    background-color: #fff;
}

.panel .panel-heading, .panel > :first-child {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.panel-heading {
    position: relative;
    height: 50px;
    padding: 0;
    color: #4d627b;
    border-bottom: 1px solid transparent;
}

.panel-title {
    font-weight: 600;
    padding: 0 20px 0 20px;
    font-size: 1.2em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel > .panel-heading:after, .panel.panel-colorful > .panel-heading:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.panel .panel-footer, .panel > :last-child {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.panel-body {
    padding: 15px 20px 25px;
}

.row {
    margin: 0 -7.5px;
}

[class^="col-"]:not(.pad-no) {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.mar-btm {
    margin-bottom: 15px;
}

.form-control {
    font-size: 13px;
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid #0f7fe047;
    transition-duration: .5s;
}

input {
    background-image: none !important;
}

.panel .panel-footer, .panel > :last-child {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.panel-footer {
    background-color: #fdfdfe;
    color: #8f9ea6;
    border-color: rgba(0, 0, 0, 0.02);
    position: relative;
}

.btn-default-basic, .btn-default, .btn-default:focus, .btn-default.disabled:hover, .btn-default:disabled:hover, .btn-hover-default:hover, .btn-hover-default:active, .btn-hover-default.active, .btn.btn-active-default:active, .btn.btn-active-default.active, .dropdown.open > .btn.btn-active-default, .btn-group.open .dropdown-toggle.btn.btn-active-default {
    background-color: #fafafa;
    border-color: #f5f5f5 !important;
    color: #8f9ea6;
}

.btn {
    cursor: pointer;
    background-color: dodgerblue;
    color: aliceblue;
    padding: 6px 12px;
    border-radius: 26px;
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 1.42857;
    vertical-align: middle;
    transition: all .25s;
}

.contactMale {
    margin-top: 20px;
    display: inline-block;
    line-height: 20px;
    width: 100%;
    text-align: center;
    background-image: url('../images/people/3.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.contactFemale {
    margin-top: 25px;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-image: url('../images/people/7.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.col-lg-6 {
    width: 100%;
}

.phoneLine {
    z-index: -1;
    margin-top: 4px;
    background-color: white;
    padding: 7px;
    border-radius: 13px;
    width: 100%;
    display: -webkit-box;
}

body {
    background-color: #ecf0f5;
    padding: 3px
}

.co_position {
    font-size: 15px;
    line-height: 25px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    display: inline;
}

.icon-map {
    display: inline-flex;
    color: #333;
    width: 21px;
    height: 21px;
    margin: 0px -33px -1px 11px;
    border: solid 2px currentColor;
    border-radius: 16px 16px 16px 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #ff0000;
}

.icon-map:after {
    background: white;
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid currentcolor;
    position: absolute;
    top: 4px;
    left: 5px;
    border-radius: 100%;
}

.letter-box {
    display: inline;
    width: 50px;
    height: 25px;
    background: repeating-linear-gradient(
            45deg,
            #E55F56, #E55F56 5px,
            #FFF 0, #FFF 10px,
            #4D8EDE 0, #4D8EDE 15px,
            #FFF 0, #FFF 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.letter-box::after {
    content: 'OK';
    position: absolute;
    right: -4px;
    top: -4px;
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 8px;
    border-radius: 50%;
    line-height: 20px;
    background: #E55F56;
}

.letter-container {
    width: 44px;
    height: 19px;
    background: #FFF
}

.phoneLine_logo {
    background-image: url('../images/mobile3.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 22px;
    display: inline;
    font-size: 15px;
    line-height: 34px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    padding: 3px;
}

.btn:hover, .btn:focus {
    color: aliceblue;
    text-decoration: none;
}

.top_title {
    border: 0 none;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #8f9ea6;
    margin: 0;
    padding: 10px 0 5px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.allmap{
    float: left;
    margin-left: -1%;
    width: 100%;
    height: 50%;
    overflow: hidden;
}