#bottom {
    display: block;
    width: 100%;
    right: 0;
    background-color: #ccc;
}

#bottom .p1 {
    white-space: nowrap;
    color: #666;
    font-size: 10px;
    line-height: 20px;
}

#bottom .p2 {
    color: #666;
    font-size: 10px;
    margin-right: 33px;
    line-height: 30px;
    background-image: url('../images/govIcon.gif');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right
}

#co,.co {
    padding: 8%;
    line-height: 27px;
    overflow: hidden;
    border-top: 2px solid #eee8d5;
    display: block;
}

#co h {
    font-size: 15px;
    margin-left: 40%;
    line-height: 30px;
    border-bottom: 2px solid #22BEFF;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7)
}

#co p {
    font-size: 12px;
}

.index_top {
    z-index: -1;
    width: 100%;
    height: 200px;
    overflow: hidden;
    //background-image: url("../images/slider/1.png");
    //text-align: center;
    line-height: 2em;
}
.idx-model-title {
    border-left: 3px solid #ff8040;
    padding: 0 0 0 8px;
    font-size: 12px;
    color: #333;
    height: 16px;
    line-height: 16px;
    margin: 0 0 8px;
}